[submodule "Escape/Libraries/glm"]
	path = Escape/Libraries/glm
	url = https://github.com/g-truc/glm
[submodule "Escape/Libraries/GLFW"]
	path = Escape/Libraries/GLFW
	url = https://github.com/EddeDev/glfw
